<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sicao.smartwine">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- sd卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".SmartCabinetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".xuser.XIndexActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 设置渠道信息 -->
        <meta-data
            android:name="CHANNEL"
            android:value="YYB"/>
        <!-- 更新校验码的服务 -->
        <service android:name=".xhttp.XApiService"/>

        <!-- 注册页面 -->
        <!-- 主页面 -->
        <activity
            android:name=".xdevice.SmartCabinetDeviceInfoActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait">
        </activity>
        <!-- 设备列表页面 -->
        <activity
            android:name=".xdevice.SmartCabinetDeviceListActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 接收系统网络和时间的广播，用于被动回调刷新设备信息函数以达到及时更新设备信息 -->
        <receiver
            android:name=".xhttp.XSmartCabinetReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <!-- 设备配置页面 -->
        <activity
            android:name=".xdevice.SmartCabinetConfigActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait">
        </activity>
        <!-- 扫码页面 -->
        <activity
            android:name=".xwidget.zxing.ActivityCapture"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 设备的绑定和解绑结果页面 -->
        <activity
            android:name=".xdevice.SmartCabinetBindStatusActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 设备设置页面 -->
        <activity
            android:name=".xdevice.SmartCabinetSettingActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 找回密码页面 -->
        <activity
            android:name=".xuser.XFindPasswordActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 注册页面 -->
        <activity
            android:name=".xuser.XRegisterActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 注册页面 -->
        <activity
            android:name=".xuser.XLoginActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <!-- 设备绑定的帐号列表页面 -->
        <activity
            android:name=".xdevice.SmartCabinetBindUsersActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- 个人资料页面 -->
        <activity
            android:name=".xuser.XUserInfoActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <!-- 设置页面 -->
        <activity
            android:name=".xuser.XSettingActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <!-- 意见反馈页面 -->
        <activity
            android:name=".xuser.XFeedBackActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- 关于我们页面 -->
        <activity
            android:name=".xuser.XAboutActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- 地址列表 -->
        <activity
            android:name=".xuser.address.XAddressListActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- 添加地址 -->
        <activity
            android:name=".xuser.address.XAddAddressActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- 选择省市 -->
        <activity
            android:name=".xuser.address.XSelectedItemActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".xdevice.SmartCabinetWinesActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_smart_cabinet_wines"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".xuser.XWebActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>